.main   {
    input {
        width: 400px;
        padding: 7px;
        color: #212529;
        background-color: #fff;
        border-color: #bdbdbd;
        outline: 0;
        border-radius: 6px;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }
}